

.firstname {
    text-align: center;
}

.firstBox {
    text-align: center;
}

.lastname {
    text-align: center;
}

.lastBox {
    text-align: center;
}

.email {
    text-align: center;
}

.emailBox {
    text-align: center;
}

.status , .date {
    text-align: center;
}

.date {

}

.weblanguage {
    text-align: center;
}

.comments {
    text-align: center;
}

.comBox {
    text-align: center;
}


.checkbox {
    text-align: center;
}

.button {
text-align: center;
}
